/* CSS RESET START  */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
    margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
    height: 100vh;
    display: flex;
    flex-direction: column;

}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
    font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;






}


:root {
    --violet: hsl(257, 40%, 49%);
    --Soft-Magenta: hsl(300, 69%, 71%);


    /* Fonts */
    --heading-font: 'Poppins', sans-serif;
    --heading-font-main: 600;
    --heading-font-reg: 400;


    --body-font: 'Poppins', sans-serif;
    --body-font-main: 400;
}

/* CSS RESET END */



/* Styling the Body */
body {
    position: relative;
    background-color: var(--violet);
    background-image: url(/images/bg-mobile.svg);
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {

    margin: 2rem;
    color: #fff;
    font-family: var(--body-font);
    text-align: center;
}


section img.logo {
    width: 50%;
    margin: 1rem 0 4rem 0;
}

section img.main-img {
    margin: 4rem 0;
}


section p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin: 1rem 0;
}


button {
    padding: .8rem 5rem;
    border: none;
    margin: 1rem 0;
    color: var(--violet);
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

button:hover {
    background-color: var(--Soft-Magenta);
    color: white;
    cursor: pointer;
}



span i {
    border: 1px solid white;
    padding: 1rem;
    margin: 3rem .7rem 1rem 0;
    border-radius: 100%;
}

span i:hover {
    color: var(--Soft-Magenta);
    border-color: var(--Soft-Magenta);
    cursor: pointer;
}






@media (min-width:700px) {

    body {
        background-image: url(/images/bg-desktop.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    section {
        width: 50%;
    }

    section img.logo {
        width: 18%;
        position: absolute;
        top: 20px;
    }


    main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        text-align: start;

    }

    h1 {
        font-size: 3rem;
    }

    section.content-Section {
        font-size: 1.2rem;
        padding: 0 3rem;
    }



    .flex-group {

        position: absolute;
        bottom: 30px;
        right: 30px;

    }
}







.attribution {
    color: whitesmoke;
    font-size: 18px;
    bottom: 50px;
    
}




.attribution a {
   
    color: burlywood;
}